@font-face {
    font-family: "Montserrat" ;
    src: url('../assets/Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: "Dune Rise";
    src: url('../assets/dune_rise/Dune_Rise.ttf');
}

@font-face {
    font-family: "Cyberpunks Italic";
    src: url('../assets/cyberpunks/Cyberpunks Italic.ttf');
}

html{
    background-color: #0A0A0A;
}

.bg{
    width: 1845px;
    height: 1000px;
    background:"assets/bg.jpeg";
    letter-spacing: 0px;
}
.titleline{
    position: absolute;
    width: 1840px;
    height: 307px;
    left: 0.3%;
    top: -115px;
    /* background-color:white; */
}

.titlebar{
    position: absolute;
    width: 1845px;
    height: 307px;
    left: 0px;
    top: -120px;
}
.creslogo{
    position: absolute;
    width: 500px;
    height: 160px;
    left: 1%;
    top: 5px;
}
.opthome{
    position: absolute;
    width: 182.98px;
    height: 46px;
    left: 46%;
    top: 20px;

    font-family: 'Dune Rise';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    text-align: center;

    color: #FEFEFE;
}
.optabout{
    position: absolute;
    width: 182.98px;
    height: 46px;
    left: 58%;
    top: 20px;

    font-family: 'Dune Rise';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    text-align: center;

    color: #FEFEFE;
}
.optevents{
    position: absolute;
    width: 182.98px;
    height: 46px;
    left: 70%;
    top: 20px;

    font-family: 'Dune Rise';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    text-align: center;

    color: #FEFEFE;
}

.optworkshop{
    position: absolute;
    width: 182.98px;
    height: 46px;
    left: 84%;
    top: 20px;

    font-family: 'Dune Rise';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    text-align: center;

    color: #FEFEFE;
}
.subtitle{
    position: absolute;
    width: 1040px;
    height: 46px;
    left: 50%;
    top: 340px;

    font-family: 'Dune Rise';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    text-align: center;

    color: #FFFFFF;

}
.bhead{
    position: absolute;
    width: 985px;
    height: 277px;
    left: calc(50% - 985px/2 + 7.5px);
    top: 210px;

    font-family: 'Cyberpunks Italic';
    font-style: italic;
    font-weight: 400;
    font-size: 230px;
    line-height: 270px;
    text-align: center;
    letter-spacing: 8px;

    color: #9E1D1D;
}
.fhead{
    position: absolute;
    width: 985px;
    height: 277px;
    left: calc(50% - 985px/2 + 3.5px);
    top: 200px;

    font-family: 'Cyberpunks Italic';
    font-style: italic;
    font-weight: 400;
    font-size: 230px;
    line-height: 270px;
    text-align: center;
    letter-spacing: 8px;

    color: white;
}

.aboutus{
    position: absolute;
    width: 550px;
    height: 102px;
    /* left: calc(50% - 622px/2 - 610px); */
    left: 50px;
    top: 1100px;

    font-family: 'Dune Rise';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 102px;
    text-align: center;

    color: #FFFFFF;
}
.line{
    position: absolute;
    width: 400px;
    height: 0px;
    /* left: calc(50% - 482.13px/2 - 10.06px); */
    left: 450px;
    top: 1270px;

    border: 2px solid #FFFFFF;
    transform: rotate(-90deg);
}
.intro{
    position: absolute;
    width: 953px;
    height: 442px;
    left: 750px;
    top: 1080px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 48px;

    color: #FFFFFF;
}

.eventbg{
    position: absolute;
    width: 1850px;
    height: 1140px;
    left: 0px;
    top: 1503px;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/home/ananthu/Arcane/assets/eventsbg.png);
}

.techpic{
    position: absolute;
    width: 480px;
    height: 800px;
    left: 569px;
    top: 1650px;

    background: url(4.jpg);
    border-radius: 50px 0px 0px 50px;
}

.nontechpic{
    position: absolute;
    width: 480px;
    height: 400px;
    left: 1050px;
    top: 1650px;

    background: url(image.png);
    border-radius: 0px 50px 0px 0px;
}

.workshoppic{
    position: absolute;
    width: 481px;
    height: 400px;
    left: 1050px;
    top: 2050px;

    background: url(image.png);
    border-radius: 0px 0px 50px 0px;
}
.eventitle{
    position: absolute;
    width: 886px;
    height: 102px;
    /* left: calc(50% - 886px/2 + 1252px); */
    left: 1200px;
    top: 1926px;

    font-family: 'Dune Rise';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 154px;
    text-align: center;

    color: #FFFFFF;

    transform: rotate(90deg);
}
.techtitlebox{
    box-sizing: border-box;

    position: absolute;
    width: 418.61px;
    height: 73.59px;
    left: 569px;
    top: 1650px;

    background: rgba(0, 0, 0, 0.75);
    border: 3px solid #000000;
    border-radius: 50px 0px;
    transform: rotate(-180deg);
}
.nontechtitlebox{
    box-sizing: border-box;

    position: absolute;
    width: 418.61px;
    height: 72.78px;
    left: 1050px;
    top: 1978px;

    background: rgba(0, 0, 0, 0.75);
    border: 3px solid #000000;
    border-radius: 0px 50px 0px 0px;
}

.workshoptitlebox{
    box-sizing: border-box;

    position: absolute;
    width: 418.61px;
    height: 72.78px;
    left: 1050px;
    top: 2380px;

    background: rgba(0, 0, 0, 0.75);
    border: 3px solid #000000;
    border-radius: 0px 50px 0px 0px;
}
.techtitle{
    position: absolute;
    width: 416.2px;
    height: 52.33px;
    left: 530px;
    top: 1600px;

    font-family: 'Dune Rise';
    font-style: normal;
    font-weight: 250;
    font-size: 33px;
    line-height: 125px;
    text-align: center;

    color: #FFFFFF;
}

.arrow{
    width: 60px;
    height: 45px;
}
.arrow .techarrow{
    position: absolute;
    width: 37px;
    height: 40px;
    left: 900px;
    top: 1670px;
    background-image: url("/assets/arrow_.png");
    background-size: cover;
}

.arrow .techarrow:hover {
    width: 37px;
    height: 40px;
    left: 905px;
    top: 1670px;
    background-image: url("/assets/arrows.png");
}



.arrow .nontecharrow{
    position: absolute;
    width: 37px;
    height: 40px;
    left: 1380px;
    top: 2000px;
    background-image: url("/assets/arrow_.png");
    background-size: cover;
}

.arrow .nontecharrow:hover {
    width: 37px;
    height: 40px;
    left: 1385px;
    top: 2000px;
    background-image: url("/assets/arrows.png");
}


.arrow .workarrow{
    position: absolute;
    width: 37px;
    height: 40px;
    left: 1350px;
    top: 2399px;
    background-image: url("/assets/arrow_.png");
    background-size: cover;
}

.arrow .workarrow:hover {
    width: 37px;
    height: 40px;
    left: 1355px;
    top: 2399px;
    background-image: url("/assets/arrows.png");
}


.nontechtitle{
    position: absolute;
    width: 416.2px;
    height: 52.33px;
    left: 1010px;
    top: 1930px;

    font-family: 'Dune Rise';
    font-style: normal;
    font-weight: 650;
    font-size: 25px;
    line-height: 125px;
    text-align: center;

    color: #FFFFFF;

}



.workshoptitle{
    position: absolute;
    width: 416.2px;
    height: 52.33px;
    left: 1000px;
    top: 2327px;

    font-family: 'Dune Rise';
    font-style: normal;
    font-weight: 250;
    font-size: 33px;
    line-height: 125px;
    text-align: center;

    color: #FFFFFF;
}

.caption{
    position: absolute;
    width: 450px;
    height: 300px;
    top: 1670px;
    left: 70px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 48px;

    color: #FFFFFF;
}

.tebg{
    position: absolute;
    width: 1850px;
    height: 1000px;
    left: 0px;
    top: 2650px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
}

.tehead{
    position: absolute;
    width: 550px;
    height: 102px;
    /* left: calc(50% - 622px/2 - 610px); */
    left: 50px;
    top: 2700px;

    font-family: 'Dune Rise';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 102px;
    text-align: left;

    color: #FFFFFF;

}


.bg1{
    position: absolute;
    width: 475px;
    height: 550px;
    left: 50px;
    top: 3000px;
}
.bg2{
    position: absolute;
    width: 475px;
    height: 550px;
    left: 475px;
    top: 3000px;
}
.bg3{
    position: absolute;
    width: 475px;
    height: 550px;
    left: 900px;
    top: 3000px;
}
.bg4{
    position: absolute;
    width: 475px;
    height: 550px;
    left: 1325px;
    top: 3000px;
}



.card{
    position: absolute;
    height: 50px;
    width: 1800px;
    top: 3055px;

    font-family: "Dune Rise";
    font-size: 20px;
    font-weight: 1000;
}
.title1{
    position: absolute;
    left: 200px;  
}
.title2{
    position: absolute;
    left: 600px;  
}
.title3{
    position: absolute;
    left: 1020px;  
}
.title4{
    position: absolute;
    left: 1450px;  
}



.button{
    position: absolute;
    height: 50px;
    width: 1800px; 
    top: 3480px;
    font-family: "Dune Rise";
    font-size: 15px;
    font-weight: 1000;
}
.button1{
    position: absolute;
    left: 280px;
}
.button2{
    position: absolute;
    left: 720px;
}
.button3{
    position: absolute;
    left: 1145px;
}
.button4{
    position: absolute;
    left: 1570px;
}

.content{
    position: absolute;
    height : 500px;
    width: 1800px;
    top: 3110px;
    left: 50px;
    color: #FEFEFE;
    font-family: "Montserrat";
    font-size: 20px;
    line-height:30px;
}

.content1{
    position: absolute;
    left: 100px;
}

.content2{
    position: absolute;
    left: 525px;
}

.content3{
    position: absolute;
    left: 940px;
}

.content4{
    position: absolute;
    left: 1370px;
}